$main-font-1: "Nunito Sans", sans-serif;
$main-font-2: "Open Sans", sans-serif;

$--white-: #ffffff;
$--red-: #ff0000;
$--red-2-: #ff00004d;
$--black-: #000000;
$--grey-: #28272c;
$--grey-1-: #6a6a6a;
$--grey-2-: #b2b2b2;